
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


a {
    text-decoration: none;
}
ul {
	padding: 0;
}
li {
	list-style:none;
	
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



#title {
    font-size: 1.6em;
    color: #424242;
	text-align: center;
}
h2 {
    font-size: 1.2em;
    color: #424242;
	text-align: center;
	padding: 20px 0;
}

.content {
	padding-top: 25px;
    width: 75%;
    margin: auto;
}

.box {
	display:inline-block;
	width: 100%;
	margin: auto;
}
.profile {
}

.profile img {
	display: inline-block;
	width: 23%;
	margin: 10px;
	background-color: #f37736;
	border-radius: 100%;
	vertical-align: middle;
}

.profile p {
	display: inline-block;
	font-size: 1.2em;
	text-align: left;
	width: 70%;
	vertical-align: middle;
}
.profile p:last-child {
	width: 100%;
	padding-top: 20px;
	margin: auto;	
}

.techs {
	font-weight:700;
	font-size: 1.2em;	
}
.box li {
	padding-bottom: 26px;	
}

.box li a { 
	width: 20%;
	display: inline-block;
	vertical-align:top;
	color: #ff72b0;
	font-weight: 600;
}
.box li p {
	display: inline-block;
	width: 100%;
	margin: 0;
}
button {
	margin-top: 25px;
}
button:focus {
    outline: 0 !important;
}

#play {
		-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
	background:-moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d',GradientType=0);
	background-color:#ff5bb0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	color:#ffffff;
	font-size:1em;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
	width: 200px;
	float: right;
}
#play:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
	background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
	background-color:#ef027d;
}
#play:active {
	position:relative;
	top:1px;
}


@media only screen and (max-width: 701px) {
  .content {
    width: 90%;
  }
	.profile img {
		display: block;
		width:150px;
		margin: auto;
		margin-bottom: 12px;
	}
	.profile p {
		display: block;
		width: auto;
		margin: 0;
		padding: 0;
	}
	#play {
		padding-right: 25px;
	}
	.box li a {
		width: 50%;
	}

}